.main {
  color: black;
}

.titleContainer {
  background-color: transparent;
  padding-inline: 15%;
  padding-top: 2.5%;
  padding-bottom: 7.5%;
}

.title {
  font-weight: 900;
  text-shadow: 0 5px 12px rgb(0 0 0 / 0.3);
  padding: 0px;
  font-size: 125px;
  line-height: 105px;
  color: white;
}

.content {
  background-color: white;
  padding-inline: 15%;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}
