.main {
  color: black;
}

.titleContainer {
  background-color: transparent;
  padding-inline: 15%;
  padding-top: 2.5%;
  padding-bottom: 7.5%;
}

.title {
  font-weight: 900;
  text-shadow: 0 5px 12px rgb(0 0 0 / 0.3);
  padding: 0px;
  font-size: 125px;
  color: white;
}

.content {
  background-color: white;
  padding-inline: 15%;
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.imageContainer {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  font-size: 21px;
  width: 36%;
}

.descriptionImage {
  box-shadow: 0 5px 12px rgb(0 0 0 / 0.3);
  border-radius: 20px;
  width: 100%;
}

.detailsContainer {
  padding-top: 5%;
  padding-bottom: 10%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  width: 100%;
}

.verticalContainer {
  padding-bottom: 26px;
  width: 100%;
}

.leftContainer,
.middleContainer,
.rightContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardTitleContainer {
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardTitle {
  font-size: 32px;
  font-weight: 800;
}

.cardSubtitle {
  font-size: 26px;
  font-weight: 600;
}

.cardDescription {
  font-size: 18px;
  font-weight: 500;
  width: 80%;
}

.iconContainer {
  background-color: white;
  border-radius: 18px;
  padding-block: 10px;
  padding-inline: 12px;
  margin-right: 10px;
}

.relatedLinks {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 45px;
}

.relatedText {
  padding-right: 10px;
}

.relatedLink {
  border: 4px solid rgb(154, 193, 196);
  padding: 12px;
  margin-right: 10px;
  border-radius: 50px;
}

.linkText {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

@media screen and (max-width: 1100px) {
  .title {
    font-size: 64px;
  }

  .titleContainer {
    padding-inline: 10%;
  }

  .content {
    padding-inline: 10%;
  }

  .descriptionContainer {
    flex-direction: column-reverse;
  }

  .imageContainer {
    width: 100%;
    margin-bottom: 7.5%;
  }

  .description {
    font-size: 21px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .horizontalContainer {
    flex-direction: column;
    align-items: center;
  }

  .leftContainer,
  .middleContainer,
  .rightContainer {
    width: 100%;
    margin-bottom: 30px;
  }

  .cardTitleContainer {
    margin-bottom: 18px;
  }

  .relatedText {
    padding-right: 0px;
    display: none;
  }
}
