.main {
  color: black;
  background-color: white;
  width: 85%;
  padding-inline: 7.5%;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}

.treatmentsSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  border: 1px solid red;
}

.title {
  font-weight: 800;
  font-size: 68px;
  padding-bottom: 15px;
}

.paragraph {
  font-size: 21px;
  font-weight: 500;
}

.cardContainer {
  width: 50%;
  border: 1px solid red;
}

.itemContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 600px) {
  .cardContainer {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .treatmentsSection {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .titleContainer {
    text-align: center;
    width: 95%;
    align-items: center;
    margin-bottom: 20px;
  }

  .cardContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1900px) {
  .column {
    width: 100%;
  }

  .titleContainer {
    align-items: center;
    text-align: center;
  }
}
