.cardContent {
  display: flex;
  flex-direction: row !important;
  width: 18vw;
}

.leftContainer,
.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftContainer {
  width: 35%;
}

.rightContainer {
  width: 65%;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.wrapper:hover {
  scale: 1.05;
  cursor: pointer;
}

@media screen and (max-width: 1900px) {
  .cardContent {
    display: flex;
    flex-direction: row !important;
    width: 100%;
  }

  .rightContainer {
    width: 65%;
  }
}
